body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.point {
  position: absolute;

  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: darkslategrey;
}
